body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.site-navigation {
	position: relative;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 531px;
}

.site-navigation-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.site-navigation-list li {
	list-style: none;
	width: 20%;
	padding-top: 14px;
	padding-bottom: 15px;
}

.site-navigation-list li:first-child {
	text-align: left;
	margin-left: 6%;
}


.site-navigation-list li:nth-child(2) {
	text-align: left;
}


.site-navigation-list li:last-child {
	margin-left: 0;
	text-align: right;
	margin-right: 6%;
}


.site-navigation-list li:nth-child(3) {
	text-align: right;
	margin-left: auto;
}


.site-navigation-list a {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.site-navigation-list a:hover {
	color: #81b3d2;
}

.site-navigation-list a:active {
	color: #000000;
	opacity: 0.3;
}

a.site-navigation-current {
	color: #776357;
}

.promo-title {
	width: 450px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	padding-top: 51px;
	padding-left: 6px;
}

.promo p {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 37px;
}

.preference-filters {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}

.features {
	display: flex;
	flex-wrap: wrap;
}

.features-title {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 27px;
	margin: 22px 100px;
}

.features-intro {
	width: 400px;
	background-color: #81b3d2;
	color: #ffffff;
}

.features-intro p {
	text-align: center;
	margin: 23px 48px;
	line-height: 20px;
}

.features-list1,
.features-list2 {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.features-list1 .feature-item h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	width: 200px;
	text-align: center;
	margin: 162px 100px 0px 100px;
}

.features-list1 .feature-item p {
	display: block;
	width: 300px;
	text-align: center;
	margin: 22px 50px 81px 50px;
	line-height: 22px;
}

.features-list1 .feature-item:first-child {
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 162px 61px;
}

.features-list1 .feature-item:nth-child(2) {
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 158px 62px;
}

.features-list1 .feature-item:last-child {
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 168px 56px;
}

.features-list2 {
	height: 257px;
}

.features-list2:last-child {
	background-color: #efefef;
}

.features-list2 .feature-item h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	width: 160px;
	text-align: center;
	margin: 49px 120px 0px 120px;
}

.features-list2 .feature-item p {
	display: block;
	width: 280px;
	text-align: center;
	line-height: 22px;
	margin: 22px 60px -2px 60px;
}

.hotels {
	position: relative;
	background-color: #ffffff;
}

.hotels-headline {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	margin-top: 49px;
}

.hotels p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
}

.hotels-intro {
	margin-bottom: 46px;
}

.button {
	display: block;
	width: 568px;
	height: 86px;
	background-color: #766357;
	font: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	margin: 0 auto;
	cursor: pointer;
}

.button:hover {
	background-color: #604e43;
}

.button:active {
	background-color: ##503e33;
	color: #857871;
}

.hotels-search {
	position: absolute;
	top: 241px;
	left: 316px;
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	border-top: 1px solid transparent;
	padding: 56px 55px 55px 56px;
	box-sizing: border-box;
}

.hotels-search p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.hotels-search p:first-child {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 31px;
}

.hotels-search p:nth-child(2) {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 31px;
}

.hotels-search p:nth-child(3) {
	display: flex;
	align-items: baseline;
	margin: auto;
	margin-bottom: 54px;
}

.button-child-minus {
	margin-left: 29px;
}

.child-label {
	margin-left: 53px;
}

.button-adult-minus {
	margin-left: 43px;
}

input[type="text"].hotels-search-in,
input[type="text"].hotels-search-out {
	box-sizing: border-box;
	padding-left: 13px;
	
}

.hotels-search input[type="text"] {
	width: 346px;
	height: 36px;
	background-color: #f3f3f3;
	font: inherit;
	text-transform: uppercase;
	border: none;
}

.hotels-search input[type="text"]:hover {
	background-color: #ececec;
}

.hotels-search input[type="text"]:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

input[type="text"].adult-number,
input[type="text"].child-number {
	width: 36px;
	height: 36px;
	text-align: center;
}

input[type="text"].adult-number:hover,
input[type="text"].child-number:hover {
	background-color: #ececec;
}

input[type="text"].adult-number:focus,
input[type="text"].child-number:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.button-number {
	width: 38px;
	height: 38px;
	background-color: #f3f3f3;
	border: none;
	font: inherit;
	color: #aaaaaa;
	cursor: pointer;
}

.button-number:hover {
	color: #000000;
}

.button-number:active {
	color: #82b4d3;
}

.hotels-search-button {
	display: block;
	width: 457px;
	height: 58px;
	background-color: #81b3d2;
	font: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin: 0 auto;
}

.hotels-search-button:hover {
	background-color: #669ec0;
}

.hotels-search-button:active {
	background-color: #5496bd;
	color: #88b6d2;
}


/*
 * Страница поиска отелей
 */

.preference-filters {
	display: flex;
}

.preference-filters ul {
	list-style: none;
}

.preference {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
}

.preference-filters h3 {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.hotel-price-button {
	font: inherit;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background: transparent;
	width: 137px;
	height: 36px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.hotel-price-button:hover {
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
}

.results-value {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
}

.results-sort {
	list-style: none;
}

.results-sort ul:first-child {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.results-sort-button {
	padding: 0;
	background-color: transparent;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
	text-transform: uppercase;
	border: none;
	border-bottom: 1px dotted #82b4d3;
	cursor: pointer;
}

.results-sort-button-active {
	font-size: 12px;
	line-height: 18px;
	color: #82b4d3;
	opacity: 1;
	border: none;
}

.results-sort-button-active:hover {
	border-bottom: 1px dotted #82b4d3;
}

.results-sort-button:hover {
	color: #82b4d3;
	opacity: 1;
}

.results-sort-button:active {
	color: #000000;
	border: none;
}

.results-list {
	list-style: none;
	padding: 0;
}

.result-list-item {
	border-top: 1px solid #e5e5e5;
}

.result-list-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.result-list-headline {
	color: #000000;
}

.result-list-headline:hover {
	color: #82b4d3;
}

.result-list-headline:active {
	color: #b2b2b2;
}

.result-list-detail {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
}

.result-list-detail:hover {
	background-color: #669ec0;
}

.result-list-detail:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.result-list-reserved {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #766357;
}

.result-list-reserved:hover {
	background-color: #604e43;
}

.result-list-reserved:active {
	background-color: #503e33;
	color: #7e7169;
}

.result-list-rating {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #666666;
	background-color: #f2f2f2;
}


/*
 * Конец страницы поиска отелей
 */

.main-footer-index {
	position: absolute;
	top: 2643px;
	width: 1200px;
	background-color: #ffffff;
	opacity: 0.9;
}

.main-footer {
	display: flex;
}

.main-footer-hashtag {
	width: 400px;
	text-align: center;
	padding-top: 32px;
	padding-bottom: 32px;
}

.main-footer-hashtag a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.main-footer-hashtag a:hover,
.main-footer-hashtag a:active,
.main-footer-hashtag a:visited {
	color: #000000;
}

.main-footer-social {
	width: 321px;
	list-style: none;
	text-align: center;
	padding-top: 22px;
}

.main-footer-social li {
	display: inline-block;
}

.main-footer-social-item {
	position: relative;
	display: block;
	width: 46px;
	height: 48px;
	background-color: #82b4d3;
	margin-right: 2px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.main-footer-social-item:hover {
	background-color: #669fc1;
}

.main-footer-social-item:active {
	background-color: #5497be;
}

.main-footer-social-item .twitter {
	position: absolute;
	top: 16px;
	left: 15px;
}

.main-footer-social-item:active path {
	fill: #88b6d2;
}

.main-footer-social-item .facebook {
	position: absolute;
	top: 13px;
	left: 17px;
}

.main-footer-social-item .youtube {
	position: absolute;
	top: 16px;
	left: 14px;
}

.main-footer-copyright {
	display: flex;
	align-items: center;
	margin: auto;
	width: 205px;
	padding-left: 50px;
}

.main-footer-copyright-info {
	margin-right: 8px;
}

.htmlacademy-logo {
	display: block;
	width: 115px;
	height: 41px;
}

.htmlacademy-logo:hover path {
	fill: #82b4d3;
}

.htmlacademy-logo:active path {
	fill: #bebcbd;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}